version: "3"

services:
  database:
    image: "postgres:latest"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: bingo

    volumes:
      - ../data/db-data:/var/lib/postgresql/data/
  redis:
    image: "redis:latest"
    ports:
      - "6379:6379"
